body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
div.tudo {
    display: flex;
    flex-direction: column;
    background: linear-gradient(330deg, #170404, #220707, #290303);
    height: 100vh;
}
header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #161338;
    margin-bottom: 10px;
}
div.container_l {
    width: 97%;
    display: flex;
    justify-content: space-between;
}
div.header_left {
    line-height: 50px;
    color: #dadada;
    font-size: 25px;
    font-family: helvetica;
    margin-right: 5px;
}
div.header_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    width: 100%;
    line-height: 50px;
    font-size: 15px;
}
div.header_right .header_links {
    display: flex;
    width: 100%;
    max-width: 100px;
    justify-content: center;
}
div.header_right a {
    text-decoration: none;
    color: #dadada;
}
div.a_menu {
    padding-right: 15px;
    height: 100%;
    display: flex;
    align-items: center;
}
div.menu {
    width: 35px;
    height: 30px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
div.menu .barras_menu {
    width: 35px;
    height: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    background-color: #dadada;
    border-radius: 2px;
}
nav.menu_aberto {
    background-color: #dadada;
    border-radius: 5px;
    width: 120px;
    position: fixed;
    top: 50px;
    right: -120px;
    border-radius: 5px 0px 0px 5px;
    transition: all 250ms;
}
nav.menu_aberto a {
    color: black;
    padding-left: 10px;
    height: 50px;
}
nav.menu_aberto > ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
nav.menu_aberto li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 120px;
    border-bottom: 1px solid #4444443a;
    transition: all 250ms linear;
}
nav.menu_aberto li:hover {
    background-color: #c5c5c5;
    border-radius: 5px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    /* #140303 #1c0606 $260303 */
    width: 100%;
    height: 100%;
}
div.container {
    max-width: 1350px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    margin: 10px;
}
main .login_box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    background-color: #dadada;
    border-radius: 5px;
}
div.login_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dadada;
    width: 60%;
    border-radius: 5px;
}
div.login_left h1 {
    color: black;
    font-size: 1.7em;
    text-align: center;
    padding: 0px 20px 0px 20px;
}
div.login_left > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.login_left p {
    margin: 5px;
    font-size: 17px;
}
div.login_info {
    margin-top: 10px;
}
div.login_info a {
    color: #000;
}
div.login_h1 {
    height: 80px;
}
div.login_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #161338;
    border-radius: 50px 3px 3px 0px;
    width: 40%;
    padding: 2px;
}
div.login_right > div {
    width: 100%;
}
div.login_right h2 {
    margin-bottom: 40px;
    color: #dadada;
    font-size: 1.7em;
    text-align: center;
}
div.login_right form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 207px;
}
div.login_right .input_box {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 260px;
    height: 30px;
    border-radius: 3px;
    background-color: #dadada;
}
div.login_right .input_box input {
    width: 233px;
    height: 27px;
    background-color: #dadada;
    border: 0px;
    border-radius: 3px;
}
input:focus-visible {
    outline: none;
}
#olho {
    background: url('../imagens/olho-aberto.png');
    background-size: cover;
    height:18px;
    width: 18px;
    cursor: pointer;
}
#olho2 {
    background: url('../imagens/olho-fechado.png');
    background-size: cover;
    height:18px;
    width: 18px;
    cursor: pointer;
    display: none;
}
div.login_right .input_submit {
    display: flex;
    width: 80px;
    height: 27px;
    margin: 15px;    
}
.input_submit > input {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #dadada;
}
div.div_space_top {
    height: 100%;
}
div.div_space_bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
div.login_help {
    display: flex;
    justify-content: space-between;
    height: 30px;
}
div.login_help a {
    color: #dadadabd;
    text-decoration: none;
    font-size: 14px;
    margin: 10px;
    line-height: 30px;
}
div.login_help a:hover {
    text-decoration: underline;
}
footer {
    height: 10px;
}

@media only screen and (max-width:718px) {
    main .login_box {
        width: auto;
        background-color: rgba(255, 255, 255, 0);
        height: 100%;
    }
    div.login_left {
        display: none;
    }
    div.login_right {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }
    div.container {
        width: auto;
        max-height: 400px;
        height: 100%;
    }
    div.login_right h2 {
        margin-bottom: 20px;
    }
}